/*
Form Styles
*/
* {
  box-sizing: border-box;
}


html {
  background-color: #fff;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgb(239, 239, 239);
}


a {
  display: inline-block;
  text-decoration: none;
}

h2 {
  margin:0;
  padding:0;
  padding-bottom:1.5rem;
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}



.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.container {
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 3px dashed;
}

.header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.header h1 {
  display: block;
  /* this will push other blocks out of the way */
  border: 3px dashed;
  /* colors */
  background-color: #DDDBF1;
  color: #131313;

  /* shapes */
  border-radius: 6px;
  font-size: 1.5rem;
  padding: 1.25rem;
  margin:0; /* removing the margin on h1 tags means the header pins to the top if we move */


  /* box-shadows are fancy */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}



.box{
  background-color: #3c4f76d7;
  border: 2px dashed;
  border-radius: 4px;

  width: fit-content;
  height:fit-content;
  padding: 1rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  font-weight: bold;
  
}

.left_section {
  background-color: #DDDBF1;
  flex: 0 1 auto;
  margin: 1rem;
  padding: 1.2rem;
  border: 2px dashed;
}

.right_section {
  background-color: #DDDBF1;
  flex: 1 2 auto;
  margin: 1rem;
  align-items: center;
  border: 2px dashed;
  padding-top: 20px;
}



.footer {
  flex-shrink: 0;
  padding: 0.6rem;
  background-color: rgba(0, 139, 139, 0.8);
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.footer a {
  color: rgba(255, 224, 138, 1);
  text-decoration: underline;
}

.footer a:hover {
  /* Hue, saturation, luminosity, alpha */
  background-color: hsla(0, 0%, 90%, 0.15);
  /* red, green, blue, alpha */
  color: rgb(246, 169, 93);
  text-decoration: none;
}

.subtitle {
  color: rgba(0, 0, 0, 0.8);
  
  margin-bottom: 5px;
}


/* Deploy this with images as direct "children" and the images should pop into shape */
.grid {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

.grid img {
  width: 150px;
  height: 150px;
}

.carousel {
  max-width: 350px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1rem;
}


.carousel .carousel__item,
.carousel .carousel__item--hidden{
  display: none;
}

.carousel .carousel__item--visible {
  display: block;
}

.carousel .carousel__item img {
  max-width: 300px;
  max-height: 300px;
  width: 50%;
  height: auto;
  align-self: center;
}


.carousel .carousel__actions{
  display: flex;
  width: 22%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1%;
  border: 2px #4a4a4a;
}

.carousel .carousel__actions button{
  border-radius: 10px;
  border: 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.carousel .carousel__actions :hover{
  color: rgb(246, 169, 93);
  background-color: rgba(245, 255, 158, 0.8);
  text-decoration: none;
}

.carousel .carousel__actions :focus{
  border: 2px #ff3c00;
}

form input {
    /* This is a hack to make sure our boxes line up with one another nicely */
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    /* here we are setting white space correctly */
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 4px;
  }

  form label {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    align-items: flex-start;

    display: block; /* this turns the label text into a box we can set margins on */
    margin-bottom: 0.5rem;
  }

/* How To Write A Media Query For Small Screens */
/*mobile*/
@media only screen and (max-width: 736px){
    /* Rules in here will only apply when a screen is the correct size */
    /* check it out by using your developer tools to shrink your screen-size */
    .container {
      background-color: rgba(204, 8, 162, 0.65);

    }
}

/*desktop*/
@media only screen and (width > 736px){
  .container {
    background-color: #383F51;
  }
}
