.pj_title{
  background-color: rgb(247, 234, 162);
  padding-top: 2mm;
  padding-bottom: 2mm;
}
.album_title{
  margin-top: 1mm;
  margin-left: 1mm;
}
.left_side{
  background-color:rgba(0, 139, 138, 0.8);
  border: 1px dashed;
  margin-top: 1cm;
  margin-left: 2cm;
  padding-left: 5mm;
  padding-right: 5mm;
  padding-bottom: 5mm;
  padding-top: 1mm;
}
.album_list{
  background-color: rgba(88, 187, 187, 0.8);
  margin-left: 1%;
  border: 1px dashed;
}
.image_title{
  margin-top: 2mm;
}
.images{
  align-items: center;
  margin-left: 1cm;
  margin-top: 1cm;
}
.right_side{
  background-color: rgba(241, 233, 116, 0.8);
  margin-right: 12cm;
  margin-top: 1cm;
  margin-bottom: 3cm;
  padding-left: 1cm;
  padding-right: 1cm;
  padding-bottom: 5mm;
  padding-top: 5mm;
  width: 12cm;
  height: 7cm;
  border: 1px dashed;
}
.explain{
  background-color: rgb(247, 234, 162);
  border: 1px dashed;
  margin-left: 10px;
}
.footer{
  background-color:rgba(0, 139, 138, 0.8);
  margin-bottom: 0%;
  padding-top: 2mm;
  padding-bottom: 2mm;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

