.container{
    display: flex;
}

.grid{
    width: 200px;
    height: 400px;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 20px;
    height: 20px;
}

.tetromino{
    background-color: rgb(255, 190, 51);
}

.mini-grid{
    margin-left: 50px;
    wight: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(53, 53, 53);
}

.mini-grid div{
    height: 20px;
    width: 20px;
}