.grid{
    width: 200px;
    height: 400px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 10px;
    height: 10px;
}

.tetromino{
    background-color: blue;
}